body {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: medium;
  background-color: aquamarine;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1{
  text-align: center;
  margin-bottom: 1;
}

.container{
  height: 700px;
  width: 700px;
  background-color: blanchedalmond;
}

